name: Run Translation Script and Deploy to Pages

on:
  # Uncomment the following lines to enable the hourly schedule
  schedule:
   - cron: "0 * * * *"  # Run every hour
  workflow_dispatch:  # Allows manual execution from the Actions tab

permissions:
  contents: write

jobs:
  run_script:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install transformers requests sentencepiece

      - name: Verify ACTIONS_PAT Secret
        env:
          ACTIONS_PAT: ${{ secrets.ACTIONS_PAT }}
        run: |
          if [ -z "${ACTIONS_PAT}" ]; then
            echo "ACTIONS_PAT is not set!"
            exit 1
          fi

      - name: Run translation script
        env:
          CRYPTOPANIC_API_KEY: ${{ secrets.CRYPTOPANIC_API_KEY }}
          EASY_PEASY_API_KEY: ${{ secrets.EASY_PEASY_API_KEY }}
        run: python cryptonews_translator.py

      - name: Commit and push changes
        env:
          ACTIONS_PAT: ${{ secrets.ASTIONS_PAT }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add translated_news.json
          git diff --cached --quiet || git commit -m "Update translated news"
          git push https://x-access-token:${{ secrets.ACTIONS_PAT }}@github.com/${{ github.repository }}.git main

      - name: Trigger GitHub Pages Rebuild
        env:
          ACTIONS_PAT: ${{ secrets.ACTIONS_PAT }}
        run: |
          curl -X POST -H "Authorization: token ${{ secrets.ACTIONS_PAT }}" \
          https://api.github.com/repos/${{ github.repository }}/pages/builds
